<div style="background-color: #F8F8F8; min-height: 91vh;">
  <div style="padding-top: 10px;"></div>
  <div style="margin-top: 10px;" class="child" *ngFor="let ticket of tickets">
    <div nz-row>
      <div nz-col nzSpan="16">
        <h2 style="cursor: pointer; color: #108ee9;">
          {{ ticket.name }}
        </h2>
        <p>{{ ticket.description }}</p>
        <hr />
        <h5>
          Price: <b>Rs:{{ ticket.price }}</b> -- 
          Date: <b>{{ ticket.date | date: 'dd/MM/yyyy' }}</b> -- 
          Available Tickets: <b>{{ ticket.totaltickets }}</b>
        </h5>
        <hr />
      </div>
      <div>
        <label for="ticket-quantity-{{ ticket.id }}" style="margin-right: 5px;">
          No of tickets:
        </label>
        <select
          id="ticket-quantity-{{ ticket.id }}"
          [(ngModel)]="ticket.selectedQuantity"
          class="ticket-dropdown"
        >
          <option *ngFor="let qty of quantities" [value]="qty">{{ qty }}</option>
        </select>
        <button
          class="update-button"
          nzSize="small"
          nz-button
          nzType="primary"
          (click)="buyTickets(ticket)"
          style="margin-left: 10px;"
        >
          Buy
        </button>
      </div>
    </div>
  </div>
</div>
